<!DOCTYPE html>
<html>
<head>
    <title>Obstacle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello, this is the start of obstacle.</h1>
    <div>Balls: 
        <span id="span-balls">3</span>
    </div>
    <canvas id="canvas" width="1500px" height="700px"></canvas>
    <script src="/js/bundle.js"></script>
</body>
</html>