<!DOCTYPE html>
<html>
<head>
    <title>Obstacle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="content">
        <h1>Obstacle.</h1>
        <div>Score: 
            <span id="span-balls"></span>
            <button id="btn-restart">Restart</button>
        </div>
    </div>
    <canvas id="canvas"></canvas>
    <script src="/js/bundle.js"></script>
</body>
</html>