<!DOCTYPE html>
<html>
<head>
    <title>Obstacle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello, this is the start of obstacle.</h1>
    <canvas id="canvas" width="600" height="300"></canvas>
    <script src="/js/bundle.js"></script>
</body>
</html>